*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
	overflow-x:hidden!important;
}

body{
	background: url( "images/stars_milky_way_space.jpg") no-repeat center center fixed;
	background-size: cover;
	overflow-x:hidden!important;
	
}
.first{
	background: url( "images/nasa-Q1p7bh3SHj8-unsplash.jpg") no-repeat center center fixed;
	background-size: cover;
	
}/*
.second{
	background: url( "images/exoplanet_atmosphere.jpg") no-repeat center center fixed;
	background-size: cover;
	

}*/
.third{
	background: url( "images/cosmonaut_space_suit_multicolored.jpg") no-repeat center center fixed;
	background-size: cover;


}
.fourth{
	background: url( "images/planets_stars_shine.jpg") no-repeat center center fixed;
	background-size: cover;
	

}
.fifth{
	background: url( "images/planets_asteroids_space.jpg") no-repeat center center fixed;
	background-size: cover;


}
.sixth{
	background: url( "images/space_open_space_planets.jpg") no-repeat center center fixed;
	background-size: cover;
	

}

nav{
	background-color:rgba(251,251,251,0);

}
 .nav-item .nav-link:hover{
	color: rgba(13,230,70,0.77);
}
/*.navbar2{
	position:-webkit-sticky;
	position: sticky;
	top:0px;
}*/
 .nav-item .active:hover{
	color: aliceblue;
}
nav a:hover{
	text-decoration: none;
}
#navbar{
	position:sticky;
	position:-webkit-sticky;
	top:0;
	z-index:21;
}
.d-block img{
	width: 700px;
	height: 400px;
}
.d-block p{
	font-family: 'Libre Baskerville', serif;
}
.d-flex img{
	width: 70px;
	height: 70px;
}
.text-white{
	font-family: 'Chilanka', cursive;
	font-size: 30px;
	margin-top: 40px;
}

.carousel {
	 height: 50%;
}

.carousel-indicators i{
	color: white;
	
	
}
.carousel-indicators .active{
	color: red;
}
/* Card 1 */

.card1{
	box-shadow: 0px 0px 2px 2px rgb(97, 126, 85);
}
.card1:hover{
	box-shadow: 0px 0px 2px 4px rgb(97, 126, 85);
}

.overlayer{
	position: absolute;
	top: 0%;
	left: 0%;
	transition: .6s ease-in-out;
	opacity:1;
	width: 100%;
	height: 0%;
	font-size: 25px;
	color: rgb(252, 248, 248);
	background-color: black;
	font-family: 'Chilanka', cursive;
	font-weight: bolder;
	
}
.card1:hover .overlayer{
	height: 100%;
}
.overlayer .cardText{
	position: absolute;
	top:30%;
	left:30%;
	opacity: 0;

}
.card1:hover .cardText{
	opacity: 1;
}
/* card 1 end*/

/* card 2*/
.card2{
	background-color: bisque;
}

/* card 2 end*/

/* Some More Info*/
.morecard .card{
	box-sizing: border-box;
	background-color: rgba(225,225,225,0.98);
	transition: all .5s ease-in;
	height:650px;
}
.morecard .card:hover{
	transform: scale(1.02);
}
.morecard a:hover{
	color: crimson;
}
.morecard button{
	width: 70%;
	transition: width .5s ease-in;
	box-shadow: 2px 2px 8px 0px rgba(75,74,74,0.91);
}
.morecard button:hover{
	width: 90%;
}
.morecard button:focus{
	box-shadow: 4px 4px 8px 0px rgba(75,74,74,0.91);
	outline: none!important;
}
.morecard a p:hover{
	color:rgb(19, 16, 165);
}
.morecard a p:focus{
	color:rgb(231, 149, 27);
}
::selection{
	color: white;
	background-color: rgba(254,101,0,1.00);
}
.fa-bullhorn,.fa-clock,.fa-plus-circle{
	color: black;
	/* position: relative;
	left: 30%; */
	font-size: 100px;
	transition: all .5s ease-in;
}
.morecard .card:hover .fa-bullhorn{
	color: rgba(39,66,226,1.00);
}
.morecard .card:hover .fa-clock{
	color: rgba(39,66,226,1.00);
}
.morecard .card:hover .fa-plus-circle{
	color: rgba(39,66,226,1.00);
}

/* vision */

#btm-container .cover{
	background: url("images/isro_cartosat_2_series_image.jpg") no-repeat center center ;
	background-size: cover;
	width: 100%;
	height: 400px;
}
#btm-container p{
	color:white;
	font-size: 20px;
	
}
#btm-container .overlayer1{
	background-color: rgba(0, 0, 0, 0.7);
	background-size: cover;
	width: 100%;
	height: 100%;
	transition: background-color 0.5s ease-in-out;
}
#btm-container .overlayer1:hover{
	background-color: rgba(0, 0, 0, 0.9);
}
#btm-container .middle{
	display: table-cell;
	padding: 10px;
	vertical-align: middle;
	text-align:center;
}
/*footer*/

.page-footer a{
	color:aliceblue;
    text-decoration: none;
}
.page-footer a:hover{
    color:rgb(38, 156, 235);
	text-decoration: none;
}
.page-footer span{
	font-size: 17px;
}
.footer-copyright a{
    color: black;
    font-weight: bold;
}
.footer-copyright a:hover{
    color: rgb(192, 16, 16);
}
.social:hover{
	box-shadow: 0px 0px 5px 5px white;
}
    
   
#thrust{
    font-size: 25px;
    transform: rotateZ(180deg);
    margin-left:-40px;
    padding-bottom:28px;
    visibility: hidden;
}
#thrustid:hover  #thrust {
    visibility: visible;
    color:rgb(255, 0, 0);
}
/*footer end*/

#mine {
	color:white;
	text-align: center;
	
}
#mine img{
	width: 40px;
	height: 40px;
}

  
@media (max-width:1198px){
	html{
	overflow-x:hidden!important;
	}
	.navbar-toggler{
		font-size: 30px !important;
		color:white ! important;
		transition:0.6s !important;
	}
	#close{
		display:none ;
		transition:0.6s ! important;
		color:white ! important;
	}
	}
	@media(max-width:400px){
		#thrust{
			font-size: 25px;
			transform: rotateZ(180deg);
			margin-left:0px;
			padding-bottom:0px;
			visibility: hidden;
		}
		.nav-link.active {
			color: #fff!important;
			background-color: #DC0B0B!important;
			}
	}