*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
	overflow-x:hidden!important;
}

body{
	background: url( "images/stars_milky_way_space.jpg") no-repeat center center fixed;
	background-size: cover;
	overflow-x:hidden!important;
	
}
.first{
	background: url( "images/nasa-Q1p7bh3SHj8-unsplash.jpg") no-repeat center center fixed;
	background-size: cover;
	
}
nav{
	background-color:rgba(251,251,251,0);

}
 .nav-item .nav-link:hover{
	color: rgba(13,230,70,0.77);
}
/*.navbar2{
	position:-webkit-sticky;
	position: sticky;
	top:0px;
}*/
 .nav-item .active:hover{
	color: aliceblue;
}
nav a:hover{
	text-decoration: none;
}
#navbar{
	position:sticky;
	position:-webkit-sticky;
	top:0;
	z-index:21;
}
.d-block img{
	width: 700px;
	height: 400px;
}
.d-block p{
	font-family: 'Libre Baskerville', serif;
}
.d-flex img{
	width: 70px;
	height: 70px;
}
.text-white{
	font-family: 'Chilanka', cursive;
	font-size: 30px;
	margin-top: 40px;
}
::selection{
	color: white;
	background-color: rgba(254,101,0,1.00);
}
/*footer*/

.page-footer a{
	color:aliceblue;
    text-decoration: none;
}
.page-footer a:hover{
    color:rgb(38, 156, 235);
	text-decoration: none;
}
.page-footer span{
	font-size: 17px;
}
.footer-copyright a{
    color: black;
    font-weight: bold;
}
.footer-copyright a:hover{
    color: rgb(192, 16, 16);
}
.social:hover{
	box-shadow: 0px 0px 5px 5px white;
}
    
#thrust{
    font-size: 25px;
    transform: rotateZ(180deg);
    margin-left:-40px;
    padding-bottom:28px;
    visibility: hidden;
}
#thrust:hover #thrust a{
    color: blue;
}
#thrustid:hover  #thrust {
    visibility: visible;
    color:rgb(255, 0, 0);
}

#mine {
	color:white;
	text-align: center;
	
}
#mine img{
	width: 40px;
	height: 40px;
}

.carousel {
    height: 50%;
}

.carousel-item img{
    height: 300px;
}
.carousel-indicators i{
   color: white;
   
   
}
.carousel-indicators .active{
   color: red;
}
  
@media (max-width:1198px){
	html{
	overflow-x:hidden!important;
	}

	.navbar-toggler{
		font-size: 30px !important;
		color:white ! important;
		transition:0.6s !important;
	}
	#close{
		display:none ;
		transition:0.6s ! important;
		color:white ! important;
	}
}
@media(max-width:400px){
    #thrust{
        font-size: 25px;
        transform: rotateZ(180deg);
        margin-left:0px;
        padding-bottom:0px;
        visibility: hidden;
	}
	.nav-link.active {
		color: #fff!important;
		background-color: #DC0B0B!important;
		}
}
.container1{
    background-color: rgba(238, 238, 240, 0.815);
    transition: background-color 0.5s ease-in-out;
    border-radius: 10px;
}
.container1:hover{
    background-color: rgba(225, 225, 228, 0.973);
}
.container1 .row a{
    text-decoration: none;
}
.container1 .row a:hover{
    color:red;
}
.count{
    color: rgb(15, 15, 15);
    font-size: 60px;
    font-weight: bold;
}
.container2 .row1{
	background-color: rgba(240, 248, 255, 0.589);
	border-radius: 10px;
	transition: background-color 0.5s ease-in-out;
}
.container2 .row1:hover{
	background-color: rgba(240, 248, 255, 0.904);
}
.container2 .row1 a{
	text-decoration: none;
	font-weight: bold;
}
.container2 .row1 a:hover{
	color:red
}
.container3 .mid{
    border-radius: 10px;
    background-color: #35d879;
}
.container3 i{
    font-size:40px;
}
.fa-facebook-f{
    color:#3b5998 ;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.fa-facebook-f:hover{
    transform: scale(1.7);}
.fa-twitter{
    color:#00acee;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.fa-twitter:hover{
    transform: scale(1.7);}
.fa-instagram{
    color: #d89735;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.fa-instagram:hover{
    transform: scale(1.7);
}